<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bx.philosopher">


    <!--********************************permission************************************-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.bx.philosopher.PhilosopherApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--百度地图 -->
        <activity
            android:name="com.bx.philosopher.ui.activity.SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.bx.philosopher.ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/launch_theme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.VerificationCodeActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity android:name=".ui.activity.ResetPasswordActivity" />
        <activity android:name=".ui.activity.PersonalInfoActivity" />
        <activity android:name=".ui.activity.InformationSetActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.SetPasswordActivity" />
        <activity android:name=".ui.activity.IntroduceActivity" />
        <activity
            android:name=".ui.activity.ProposalActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.activity.MyDownloadActivity" />
        <activity android:name=".ui.activity.MyRecordActivity" />
        <activity android:name=".ui.activity.MyBalanceActivity" />
        <activity android:name=".ui.activity.MyRechargeActivity" />
        <activity android:name=".ui.activity.MyAccountActivity" />
        <activity android:name=".ui.activity.MySubscribeActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.AllCategoryActivity" />
        <activity android:name=".ui.activity.BookDetailActivity" />
        <activity android:name=".ui.activity.ReadingActivity" />
        <activity android:name=".ui.activity.LocalFileActivity" />
        <activity android:name=".ui.activity.BookCatalogActivity" />
        <activity android:name=".ui.activity.NoteEditActivity" />
        <activity android:name=".ui.activity.MyMedalActivity" />
        <activity android:name=".ui.activity.MedalDetailActivity" />
        <activity android:name=".ui.activity.SpecialTypeBookActivity" />
        <activity android:name=".ui.activity.GiftCardActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!--微信-->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--新浪微博-->
        <activity android:name=".ui.activity.MyCardActivity" />
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".share.PayH5Activity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101652906" />
            </intent-filter>
        </activity>
        <!--facebook-->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.GuideActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="$rootProject.BAIDUMAPKEY" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bx.philosopher.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--QQ-->
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider321913055376018"
            android:exported="true" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


    </application>



</manifest>